@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

html, body {
    margin:0;
    padding:0!important;
    box-sizing: border-box;
    min-height: 100%;
    width: 100vw;
    overflow-x: hidden;
}
/*          nav-bar and icon         */
.cart-icon{
    font-size: 1.5rem;
}
#arrow {
    margin-right: 5px;
    padding: 0 10px;
    position: absolute;
    transition: 0.1s all ease-in-out;
}
.text-landing>button:hover #arrow {
    transform: translateX(6px);
}
.landing {
    /* width: 100vw; */
    /* height: 900px; */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow-x: hidden;
    background-image: url(../images/landing-image.jpg);
    background-position: center;
    background-size: cover;
    padding:0!important;
    text-align: center;
    
}

.text-landing {
    font-family: 'Train One', cursive;
    text-shadow: 1px 1px #5f5f5f;
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.text-landing>button {
    /* text-align: center; */
    width: 200px;
    position: relative;
    line-height: 40px;
    padding: 15px 40px 15px 30px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    transition: 1s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.text-landing>button:hover {
    background-color: #fff;
    color: grey;
    border-color: grey;
}

.line {
    width: 85%;
    background-color:#696969;
    height: 2px;
}

/*                  Product div                   */
#product-div {
    margin-top: 75px;
    width: 65vw;
    /* min-height: 70vh; */
}

#userSelectionBtn {
    display: flex;
    justify-content: center;
    align-content: center;
}
#product-div>div>button {
    text-align: center;
    width: 200px;
    position: relative;
    line-height: 40px;
    padding: 15px 40px 15px 30px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    transition: 1s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#product-div>div>button:hover {
    background-color: #fff;
    color: grey;
    border-color: grey;
}

/*               Mens product div                 */
#product-men, #product-women {
    /* display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 700px;
    width: 80%; */
    /* background-color: #ffffff; */
    margin: 50px auto;
}

.prod-display {
   /* margin: 0 40px; */
   display: inline-table;
   color: #fff;
   background-color: #999696b4;
   border: 2px solid #ffffff;
}

.prod-image{
    width: 200px;
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border: 2px solid rgb(66, 60, 60);
}

.card-body>h5{
    font-size: 1.4rem;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    padding: 5px 0;
}
/* .desc {
    background-color: #696969;
    color: #fff;
} */
/*                  footer                   */
footer {
    border-top: 2px solid #696969;
    padding: 0!important;
}
.footer-div {
    margin: 0!important;
}
footer>div {
    width: 100%;
    text-align: center;
    padding: 30px;
    background-color: rgba(158, 158, 158, 0.651);
}
ul {
    padding:0!important;
    display: block;
    list-style: none;
    color: #ffffff;
    font-weight: bold;
}
ul>li{
    transition: .5s all;
}
ul>li:hover {
    color: rgba(36, 35, 35, 0.651);
    transform: scale(1.1);
}
h5 {
    color: #5f5f5f;
}
li {
    cursor: pointer;
    line-height: 30px;
}

.bottom-plate {
    border-top: 2px solid #696969;
    width: 100%;
    background-color:  rgba(158, 158, 158, 0.651);
}
.bottom-plate>p {
    cursor: default;
    color: #ffffff;
    margin:0!important;
}
.bottom-plate>p>span{
    color: #5f5f5f;
    font-weight: bold;
}

@media (max-width: 992px){
    ul>li:hover{
    transform: scale(1);
}
}